
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
  background: rgb(15, 15, 15);
}
p{
  padding:20px;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

form{
  display: flex;
  flex-direction: column;
  
}
input{
  margin-bottom: 20px;
}
button{
  padding: 10px;
  background-color: #333;
  color: white;
}
form input {
  padding: 10px;
  background-color: #333;
  color: white;
}